#body{
    width: 1200px;
    height: 1200px;

}
@media screen and (max-width:800px){
    #body{
        width: 600px;
        height: 400px;
    }
}
@media screen and (max-width:600px){
    #body{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width:400px){
    #body{
        width: 200px;
        height: 400px;
    }
}
@media screen and (max-width:200px){
    #body{
        width: 100px;
        height: 400px;
    }
}
@media screen and (max-width:100px){
    #body{
        width: 50px;
        height: 400px;
    }
}


h1#titulo{
font: bold 30px Verdana;
 color: yellow;/*aqui ja estamos editando o google glass la em cima sua cor etc
text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
text-align: center;


    /*color: #e6bc35; aqui e uma outra opçao de cor para o titulo ver direito depois*/
    text-transform: uppercase;
    margin-block-start: 2em;
    margin-block-end: 2em;
    text-align: center;
    margin-top: 20px;
  
         
}

body{
 font: bold 15pt Verdana;
 color: #b2ee0d;
 background-color: rgb(3, 25, 32);
 padding: 10px;
 margin-top: 10px; 

}
h2#Ym{
    text-align: center;
    color: orange
    
}
h2#Zm{
    text-align: center;
    color: orange;

}
h2#Em{
    text-align: center;
    color: orange;

}
h2#Pm{
    text-align: center;
    color: orange;

}
h2#Tm{
    text-align: center;
    color: orange;

}
h2#Gm{
    text-align: center;
    color: orange;

}
h2#Mm{
    text-align: center;
    color: orange;

}
h2#Km{
    text-align: center;
    color: orange;

}
h2#hm{
    text-align: center;
    color: orange;

}
h2#dam{
    text-align: center;
    color: orange;

}
h2#sub{
    text-align: center;
}
h2#mul{
    text-align: center;
}
h2#m{
    text-align: center;
    font: bold 30px Verdana;
    color: yellow;
    font-style: oblique;
}
h2#des{
    text-align: center;
}
h2#dm{
    text-align: center;
    color: orange;

}
h2#cm{
    text-align: center;
    color: orange;

}
h2#mm{
    text-align: center;
    color: orange;

}
h2#µm{
    text-align: center;
    color: orange;

}
h2#nm{
    text-align: center;
    color: orange;

}
h2#pm{
    text-align: center;
    color: orange;

}
h2#fm{
    text-align: center;
    color: orange;

}
h2#am{
    text-align: center;
    color: orange;

}
h2#zm{
    text-align: center;
    color: orange;

}
h2#ym{
    text-align: center;
    color: orange;

}
a#m{
   
    text-decoration: none;
    color: yellowgreen;

}

h3#go{
    
    text-align: center;
    font: bold 30px Verdana;
    color: yellow;
    font-style: oblique;
}
h4#co{
    text-align: center;
    font: bold 30px Verdana;
    color: yellow;
    font-style: oblique;
}
h4#m{
    color: yellow;
}
h4#s{
    text-align: center;
}
h5#c{
    text-decoration: none;
    color: white;
}
footer#rodapee{
    text-decoration: none;
    text-align: center;
    color: yellowgreen;

}
a#ins{
    font: verdana 20px;
    color:yellowgreen;
    text-decoration: none;
}

